.tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

    li {
        background-color: var(--primary-orange);
        color: var(--white);
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 80%;
    }
}