[id="home"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

[id="home-nav"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  width: 90%;
}

@media screen and (min-width: 842px) {
  [id="home-nav"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    background-color: var(--background-home);
    padding: 50px;
    border-radius: 20px;
  }

  @media screen and (min-width: 1242px) {
    [id="home-nav"] {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
    }
  }
}