.orange-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    background: var(--gradient-orange);
    color: var(--white);
    padding: 20px;
    height: 340px;
    margin : 0 20px;
    width: 340px;

    p {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        width: 40%;
        margin: 0;
    }
}

