.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;


  img {
    width: 145px;
    height: 47px;
  }

  nav {
    display: flex;
    gap: 26px;
  }

  a {
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
  }

  .active {
    border-bottom: 1px solid var(--black);
  }

}