.header-about{
    display: flex;
    justify-content: center;

    img{
        width: 90%;
        height: 111px;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(0.5);
    }
}

