.logo-footer {
    filter:  brightness(0) invert(1);
    width: 122px;
    height: 40px;
}

.footer {
    background-color: var(--black);
    padding: 63px;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    p {
        color: var(--white);
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        margin-top: 10px;
        width: 122px;
        text-align: center;
        }
}

/* ****mediaqueries**** */

@media screen and (min-width: 768px) {
    .footer {

        p {
            margin-top: 30px;
            width: 100%;
            position: relative;
            right: 2rem;
        }
    }
}