:root {
  --black : #000000;
  --white : #ffffff;
  --grey : #E7E7E7;
  --background-home : #F6F6F6;
  --primary-orange : #FF6060;
  --grey45 : hsla(0, 0%, 96%, 0.45);
  --gradient-orange : linear-gradient(to bottom, #FF5E5E, #D94545);
  --name-card : hsla(0, 0%, 0%, 0.5);
}

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  max-width: 1440px;
  margin: auto;
}

[id="root"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

li {
  list-style: none;
}