:root {
  --black : #000000;
  --white : #ffffff;
  --background-home : #F6F6F6;
  --primary-orange : #FF6060;
  --gradient-orange : linear-gradient(to bottom, #FF5E5E, #D94545)
}

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  max-width: 1440px;
  margin: auto;
}