.not-found {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    

    h1 {
        font-size: 96px;
        font-weight: 700;
        line-height: 137px;
        color: var(--primary-orange);
    }

    p {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        color: var(--primary-orange);
    }

    a {
        color: var(--black);
        text-decoration: underline;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
}

/* ****media Queries**** */

@media screen and (min-width: 842px) {
    .not-found {
        h1 {
            font-size: 150px;
            line-height: 200px;
        }

        p {
            font-size: 24px;
            line-height: 33px;
        }

        a {
            font-size: 16px;
            line-height: 23px;
        }
    }
}

@media screen and (min-width: 1242px) {
    .not-found {
        h1 {
            font-size: 288px;
            line-height: 411px;
        }

        p {
            font-size: 36px;
            line-height: 52px;
        }

        a{
            font-size: 18px;
            line-height: 26px;
        }
    }
}