.background {
  position: relative;
  background-image: url("../../assets/images/IMG.png");
  background-size: cover;
  height: 111px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  color: var(--white);
  z-index: 1;
  overflow: hidden; 
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.background h1 {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}